main/default/flows/flow_test_el.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sub1</name>
        <label>sub1</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>sub1.instanceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sub2</name>
        <label>sub2</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>sub1.instanceId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <collectionProcessors>
        <name>X33333</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>33333</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_X33333</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>sub1.newWorkItemIds</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Update_Records_4</targetReference>
        </connector>
        <formula>{!sub1.newWorkItemIds}=&apos;true&apos;</formula>
    </collectionProcessors>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Records_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sub1.instanceId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <interviewLabel>flow test el {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow test el122</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>sub2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountNumber</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Records_4</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_3</name>
        <label>Update Records 3</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>X33333</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_4</name>
        <label>Update Records 4</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>AccountNumber</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sub1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>33</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_X33333</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_X444</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
