main/default/flows/log_2671_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Source:Start,0,0|Target:sub1,0,0</description>
        <name>h_714e77815ff23dcebd7458aefe1c3252_PostPreLog</name>
        <label>Log After: Start, Before: sub1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sub1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: Start, Before: sub1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: Start, Before: sub1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>petriv__log_2671_test-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>INFO</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_05e91bbacaf31b58e0b4c7207e4ce4de_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:sub1,0,0|Target:assign1,0,0</description>
        <name>h_a4eabe36969649b7ce3306ba5ef623b5_PostPreLog</name>
        <label>Log After: sub1, Before: assign1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assign1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: sub1, Before: assign1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: sub1, Before: assign1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>petriv__log_2671_test-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Action</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>DEBUG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_1862346ba12e1681ab78f3f7df1e9b03_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:assign1,0,0|Target:transform1,0,0</description>
        <name>h_ceea7a9ff9d54c62a35bcb5a8e32531f_PostPreLog</name>
        <label>Log After: assign1, Before: transform1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>transform1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: assign1, Before: transform1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: assign1, Before: transform1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>petriv__log_2671_test-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_68b035ff1da834e4969f645505711c7e_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Source:transform1,0,0|Target:null,0,0</description>
        <name>h_d58f862cd1ba312dcc97c010328e44e2_PostLog</name>
        <label>Log After: transform1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TritonFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>area</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <stringValue>Log After: transform1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>details</name>
            <value>
                <stringValue>Executed: Log After: transform1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>petriv__log_2671_test-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Transform</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <stringValue>FINER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stacktrace</name>
            <value>
                <stringValue>{!h_9d369abaf3573973cf298c211140c218_Pharos_Template}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fullStacktrace</name>
            <value>
                <stringValue>{!Pharos_Full_Stacktrace}</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Pharos_Full_Stacktrace</assignToReference>
            <name>fullStacktrace</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>sub1</name>
        <label>sub1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>h_a4eabe36969649b7ce3306ba5ef623b5_PostPreLog</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>assign1</name>
        <label>assign1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h_ceea7a9ff9d54c62a35bcb5a8e32531f_PostPreLog</targetReference>
        </connector>
    </assignments>
    <interviewLabel>log-2671 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>log-2671-test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>h_714e77815ff23dcebd7458aefe1c3252_PostPreLog</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Pharos Flow Template for Log After: Start, Before: sub1</description>
        <name>h_05e91bbacaf31b58e0b4c7207e4ce4de_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;&lt;style&gt;
span,a {
 font-size: 16px;}&lt;/style&gt;&lt;/head&gt;&lt;body&gt;&lt;p&gt;
&lt;span&gt;&lt;img src=&quot;https://a.sfdcstatic.com/shared/images/c360-nav/mobile_logo.png&quot; alt=&quot;Salesforce logo&quot; width=&quot;40px&quot;&gt;&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;An Error Occurred with Your &quot;log-2671-test&quot; Flow&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span&gt;You&apos;ve received this email because an error occurred while your &quot;log-2671-test&quot; flow was running. &lt;a &gt;Debug this flow in Flow Builder.&lt;/a&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Error element debug (FlowActionCall).&lt;/span&gt;&lt;br&gt;&lt;span&gt;Debug: end&lt;/span&gt;&lt;br&gt;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;a style=&quot;background-color:#0176D3;border-radius:4px;color:white;padding:.5rem 1rem;text-decoration:none&quot;&gt;Open Flow&lt;/a&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;
&lt;hr&gt;
&lt;br&gt;&lt;span style=&quot;font-size:x-large;font-weight:bold&quot;&gt;Flow Error Details&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow API Name: &lt;/span&gt;petriv__log_2671_test&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Type: &lt;/span&gt;Flow&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Version: &lt;/span&gt;2&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Status: &lt;/span&gt;Active&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Org: &lt;/span&gt;{!$Organization.Id} ({!$Organization.Name})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Flow Interview Details&lt;/span&gt;&lt;br&gt;
&lt;br&gt;&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview Label: &lt;/span&gt;log-2671-test&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Interview GUID: &lt;/span&gt;{!$Flow.InterviewGuid}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Current User: &lt;/span&gt;{!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Start time: &lt;/span&gt;{!$Flow.InterviewStartTime}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;Duration: &lt;/span&gt;0&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;br&gt;&lt;span style=&quot;font-weight:bold;&quot;&gt;How the Interview Started&lt;/span&gt;&lt;br&gt;
&lt;span&gt;{!$User.FirstName} {!$User.LastName} ({!$User.Id}) started the flow interview.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;API Version for Running the Flow: 63.0&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Some of this flow&apos;s variables were set when the interview started.&lt;/span&gt;&lt;br&gt;
&lt;span&gt;$Record = Account ({!$Record})&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_714e77815ff23dcebd7458aefe1c3252_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: sub1, Before: assign1</description>
        <name>h_1862346ba12e1681ab78f3f7df1e9b03_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;sub1&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;
&lt;span&gt;objectId = $Record.Id&lt;/span&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_a4eabe36969649b7ce3306ba5ef623b5_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: assign1, Before: transform1</description>
        <name>h_68b035ff1da834e4969f645505711c7e_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;ASSIGNMENT: &lt;/span&gt;assign1&lt;br&gt;
&lt;span&gt;$Record.AccountNumber Assign 0&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Result&lt;/span&gt;&lt;br&gt;
&lt;span&gt;$Record.AccountNumber = {!$Record.AccountNumber}&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_ceea7a9ff9d54c62a35bcb5a8e32531f_PostPreLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Pharos Flow Template for Log After: transform1</description>
        <name>h_9d369abaf3573973cf298c211140c218_Pharos_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;TRANSFORM: &lt;/span&gt;transform1&lt;br&gt;
&lt;span&gt;Source Data: {!transform1}&lt;/span&gt;&lt;br&gt;
&lt;span&gt;Target Data: Account&lt;/span&gt;&lt;br&gt;
&lt;span&gt;BillingPostalCode = $Record.AccountNumber&lt;/span&gt;&lt;br&gt;
&lt;span&gt;BillingCity = $Record.BillingCity&lt;/span&gt;&lt;br&gt;
&lt;span&gt;BillingLongitude = $Record.BillingLatitude&lt;/span&gt;&lt;br&gt;
&lt;span&gt;BillingLatitude = $Record.BillingLongitude&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;(APEX): &lt;/span&gt;h_d58f862cd1ba312dcc97c010328e44e2_PostLog&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Inputs:&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-weight:bold;&quot;&gt;Outputs:&lt;/span&gt;&lt;br&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Pharos Full Stacktrace</description>
        <name>Pharos_Full_Stacktrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
</Flow>
