main/default/flows/Not_A_Duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>177</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>Get_Issue.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Issue</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Not A Duplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Not A Duplicate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Issue</name>
        <label>Get Issue</label>
        <locationX>177</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Issue</name>
        <label>Update Issue</label>
        <locationX>177</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Mark_Not_A_Duplicate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Fault_Message</targetReference>
        </faultConnector>
        <inputReference>Get_Issue</inputReference>
    </recordUpdates>
    <screens>
        <name>Flow_Fault_Message</name>
        <label>Flow Fault Message</label>
        <locationX>327</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mark_Not_A_Duplicate</name>
        <label>Mark Not A Duplicate</label>
        <locationX>177</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_a_Duplicate_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to mark this Issue as not a duplicate?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Issue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
